* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.575);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.menu {
    width: fit-content;
    height: 60px;
    background-color: #f5f1f93f;
    border-radius: 10px;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20px;
    user-select: none;
}

.btn {
    cursor: pointer;
    height: 40px;
    width: 40px;
    user-select: none;

    border-radius: 6px;
    padding: 4px;
    /* overflow: hidden; */
    margin-left: 7px;
    margin-right: 7px;
    transition: 0.4s;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.719);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    scale: 1.2;
    margin-top: -10px;
}

.windowFrame {
    height: 500px;
    /* width defined in internal css for events changes in JavaScript*/
    background-color: #f5f1f9a6;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    overflow: hidden;
    
    user-select: none;
    display: none;
}

.frameTop {
    height: 30px;
    background-color: #f5f1f9;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.frameTitle {
    height: 30px;
    width: 500px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.frameAction {
    display: flex;
    height: 30px;
    width: 140px;
}

.frameClose {
    width: 60px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frameMinimize {
    width: 50px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frameResize {
    width: 50px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.frameMinimize:hover,
.frameResize:hover {
    background-color: #dbd6df;
}

.frameClose:hover {
    background-color: rgb(228, 0, 0);
}




/* Style Teacher Login */